@import 'styles/common.scss';
@import 'styles/players.scss';
@import 'components/game/GridExport.scss';


.NeighborsCanvas {

  display: flex;

  .playerTab {
    height: 48px;
    width: 48px;
    padding: 2px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50% 0 0 50%;
    cursor: pointer;
    font-family: $font_family_game_number;
    margin: 4px 0 16px 4px;
    letter-spacing: 2px;
    text-transform: uppercase;
    @include shadow();
    border: 2px solid white;

    &.active {
      @include playerStyles(':not(&)', 'border', '2px solid COLOR');
      border: 2px solid #888888;
      position: relative;
    }

    img {
      width: 100%;
      height: 100%;
      filter: saturate(50%);
    }
  }

  .grids {
    flex-grow: 1;
    margin-left: 4px;
  }

  .gridContainer {
    @include playerStyles('.circle', 'border', '4px solid COLOR');
    @include playerStyles('.grid', 'border', '1px solid COLOR');
    @include playerStyles('.grid', 'box-shadow', 'inset 0 0 8px COLOR');


    opacity: 1;

    .grid {
      position: relative;
    }

    &.hideGrid {
      width: 0%;
      opacity: 0;
      height: 0;
      margin: 0;
      padding: 0;
      border: 0;
    }

    &.p-col-6 .row .square .value {
      font-size: 28px;
    }
  }

  .circles {
    padding: 5px;
    position: absolute;
    top: $Grid_lineWidth / 2;
    bottom: $Grid_lineWidth / 2;
    left: $Grid_lineWidth / 2;
    right: $Grid_lineWidth / 2;
  }

  .circle {
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
  }
} /* .NeighborsCanvas */



