@import 'styles/common.scss';
@import 'styles/players.scss';

$_scale: 1;

.PlayerArea {

  .playersHolder {
    position: relative;
    height: 100px;
  }

  .player {
    position: absolute;
    display: flex;

    @include playerStyles('*', 'color');
    @include playerStyles('.score', 'border', '4px solid COLOR');

    &.player1 {
      top: 0;
      left: 0;
    }

    &.player2 {
      flex-direction: row-reverse;
      align-items: end;
      bottom: 0;
      right: 0;
      img {
        transform: scaleX(-1);
      }
    }

    &:not(.active) {
      transform-origin: top left;
      transform: scaleX($_scale) scaleY($_scale);

      &.player2 {
        transform-origin: bottom right;
      }
    }

    .score {
      font-size: 30px;
      font-family: MWBD;
      font-weight: bold;
      border-radius: 50%;
      width: 2em;
      height: 2em;
      text-align: center;
    }

    .name {
      font-family: MWBD;
      font-weight: bold;
      font-size: 30px;
      padding: 8px;
    }

    img {
      height: 4em;
      width: 4em;
    }
  }
} /* .PlayerArea */

