@import 'styles/common.scss';
@import 'styles/players.scss';


.PlayerArea {

  .playersHolder {
    position: relative;
    height: 100px;
  }

  .player {
    position: absolute;
    display: flex;

    @include playerStyles('*', 'color');

    &.player1 {
      top: 0;
      left: 0;
    }

    &.player2 {
      flex-direction: row-reverse;
      align-items: end;
      bottom: 0;
      right: 0;
      img {
        transform: scaleX(-1);
      }
    }

    &:not(.active) {
      transform-origin: top left;
      transform: scaleX(.7) scaleY(.7);

      &.player2 {
        transform-origin: bottom right;
      }
    }

    .name {
      font-family: MWBD;
      font-weight: bold;
      font-size: 30px;
      padding: 8px;
    }

    img {
      height: 100px;
      width: 100px;
    }
  }
} /* .PlayerArea */

