@import 'styles/common.scss';


.GameInstructionsDialog {
} /* .GameInstructionsDialog */

.GameInstructionsDialog-dialogElement {
  max-width: 800px;

  h2 {
    font-family: $font_family_title;
    color: $color_1;
  }

  img {
    max-width: 80%;
    margin: auto;
    display: block;
  }

  @include desktop {
    max-height: 80%;
  }
} /* .GameInstructionsDialog-dialogElement */
