@import 'styles/common.scss';


.GameSettingsDialog {
} /* .GameSettingsDialog */

.GameSettingsDialog-dialogElement {
  max-width: 800px;
  width: 100%;

  .p-dialog-content {
    min-height: 400px;
  }

  .setting {
    margin-top: 8px;
  }

  .buttons {
    margin-top: 32px;
    text-align: right;

    .p-button {
      margin-left: 16px;
    }
  }

  @include desktop {
    max-height: 80%;
  }
} /* .GameSettingsDialog-dialogElement */

