@import 'styles/common.scss';
@import 'styles/players.scss';


.Grid {

  .row {
    display: flex;

    .square {
      @include playerStyles('.value', 'color');
      @include playerStyles(
          '.highlight', 'background',
          'radial-gradient(COLOR70, #ffffff00 75%)');
      @include playerStyles(
          '.touchTarget.clickable:hover', 'background',
          'radial-gradient(COLOR70, #ffffff00 75%)');

      background: white;
      border: 1px solid black;
      flex: 1 1;
      margin: 2px;
      position: relative;

      &>* {
        height: 100%;
        width: 100%;
        position: absolute;
      }

      .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      &:after {
        content: '';
        display: block;
        padding-top: 100%;
      }

      .touchTarget {
        cursor: pointer;
        z-index: 1000;
      }
    }
  }

  .value {
    align-items: center;
    display: flex;
    font-family: $font_family_game_number;
    font-size: 42px;
    justify-content: center;
  }

} /* .Grid */

