@import 'styles/common.scss';
@import 'styles/players.scss';


.QuantumTicTacToeCanvas {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;

  .gridLine:first-child,
  .gridLine:last-child {
    visibility: hidden;
  }

  .gridContainer {
    position: relative;
    flex-basis: 70%;
    width: 90%;

    @include desktop {
      flex-basis: 85%;
      width: 85%;
    }
  }

  .squareValue {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    align-content: space-evenly;
    justify-content: space-evenly;

    &.occupied {
      font-size: 60px;
    }
  }

  .selection .line {
    display: none;
  }

  .tunnelEndpoint {
    width: 30%;
    height: 30%;
  }

  .controls {
    flex-basis: 30%;
    display: flex;
    justify-content: center;
    align-items: center;

    @include desktop {
      flex-basis: 15%;
    }
  }

  .sliderContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .slider {
      margin-bottom: 32px;

      @include desktop {
        margin-bottom: 0;
        margin-right: 16px;
      }
    }

    @include desktop {
      flex-direction: row;
    }
  }

  .winPatterns {

    .circleHolder {
      @include playerStyles('.circle', 'border', '4px solid COLOR');

      .circle {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        border-radius: 50%;
      }
      
      .row-0 { top: 1%; bottom: 67%; }
      .row-1 { top: 34%; bottom: 34%; }
      .row-2 { top: 67%; bottom: 1%; }
      .col-0 { left: 1%; right: 67%; }
      .col-1 { left: 34%; right: 34%; }
      .col-2 { left: 67%; right: 1%; }

      .diag-0, .diag-1 {
        left: 34%;
        right: 34%;
        top: -15%;
        bottom: -15%;
      }
      .diag-0 { transform: rotate(-45deg); }
      .diag-1 { transform: rotate(45deg); }
    }
  }

} /* .QuantumTicTacToeCanvas */


