@import 'styles/common.scss';
@import 'styles/players.scss';


.QuantumTicTacToeCanvas {

  .gridLine:first-child,
  .gridLine:last-child {
    visibility: hidden;
  }

  .grid {
    position: relative;
  }

  .squareValue {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    align-content: space-evenly;
    justify-content: space-evenly;
  }

  .tunnelEndpoint {
    width: 30%;
    height: 30%;
  }

} /* .QuantumTicTacToeCanvas */


