@import 'styles/common.scss';
@import 'styles/players.scss';


.QuantumTicTacToeCanvas {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;

  .gridLine:first-child,
  .gridLine:last-child {
    visibility: hidden;
  }

  .grid {
    position: relative;
    flex-basis: 85%;
    width: 85%;
  }

  .squareValue {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    align-content: space-evenly;
    justify-content: space-evenly;
  }

  .tunnelEndpoint {
    width: 30%;
    height: 30%;
  }

  .controls {
    flex-basis: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .sliderContainer {
    display: flex;
    justify-content: center;
    align-items: center;

    .slider {
      margin-right: 16px;
    }
  }

} /* .QuantumTicTacToeCanvas */


